<div class="section">
	<div class="user-show">
		<h1>ユーザー一覧</h1>
		<% @user.each do |user| %>
		<div class="user-index-item">
		<% if user.image? %>
			<%= image_tag user.image.url, class: "follow-img" %>
		<% else %>
			<div class="alt">画像が<br>ありません</div>
		<% end %>
		<div class="other-user"><%= link_to user.name, user_path(user) %></div>
			<% if user.followed_by? current_user %>
				<div class="user-follow settled"><%= link_to 'フォロー解除', user_relationships_path(user),method: :delete %></div>
			<% else %>
				<div class="user-follow"><%= link_to 'フォロー', user_relationships_path(user),method: :post %></div>
			<% end %>
		</div>
		<% end %>
	</div>
</div>